.sidenav {
  width: 200px;

  &-container {
    height: 100%;
  }

  &-content {
    margin: 16px;
    padding: 16px;
    background: white;
    border-radius: 8px;
  }

  .mat-toolbar {
    background: inherit;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
